@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .fluid-h1 {
    @apply text-4xl md:text-6xl lg:text-7xl;
  }
  .fluid-h2 {
    @apply text-3xl md:text-5xl;
  }
  
  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
  
  .animate-shimmer {
    animation: shimmer 1.5s infinite;
  }
}

body {
  font-family: 'Inter', sans-serif;
  @apply bg-slate-50 text-slate-900;
}
